<!DOCTYPE html>
<html lang="es" style="width:100%;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta content="telephone=no" name="format-detection"> 
    <title>Correo</title>
</head>
<body>
    <div class="container">
        <center>
            <h2>
                {{name}}
            </h2>
            <h3>
                {{email}}
            </h3>
            <h4>{{subject}}</h4>
            <p>{{body}}</p>
        </center>
    </div>
</body>
</html>